    <!-- Brand nav bar -->
    <nav class="navbar navbar-light blue lighten-4">
        <span class="navbar-brand">Voluntour</span>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <!-- Sign In button -->
                <div class="col-6 align-items-center">
                    <button type="button" class="btn btn-pink">Sign In</button>
                </div>
                <!-- Create Accont button -->
                <div class="col-6 align-items-center">
                    <button type="button" class="btn btn-cyan">Create Account</button>
                </div>

            </div>

        </div>
    </div>