<!-- Brand nav bar -->
<nav class="navbar navbar-light blue lighten-4">
    <span class="navbar-brand">Voluntour</span>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <!-- Sign In button -->

            <div class="col-6 align-items-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-pink" data-toggle="modal" data-target="#exampleModal">
                    Sign In
                </button>
            </div>
            <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form action="/user/profile" method="get">
                            <div class="modal-body">
                                <input type="text" name="username" placeholder="Username">
                                <input type="text" name="password" placeholder="Password">
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>


                                <button type="submit" 
                                value="submit"
                                class="btn btn-primary">Login</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>

        <!-- Create Accont button -->
        <div class="col-6 align-items-center">
            <a type="button" class="btn btn-cyan" href="/create">Create Account</a>
        </div>

    </div>

</div>
</div>