<nav class="navbar navbar-light blue lighten-4">
    <span class="navbar-brand">Voluntour</span>
</nav>
{{!-- User/Volunteer Profile Page --}}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                    {{!-- <form class="form-signin"> --}}
                    <div class="row">
                        <div class="col">
                            <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg"
                                alt="thumbnail" class="img-thumbnail z-depth-3 rounded-circle float-left"
                                style="width: 200px">

                            {{!-- profile photo  --}}

                        </div>
                        <div class="col">
                            {{!-- Volunteer organizations here --}}
                            <div class="card border-info mb-3" style="max-width: 20rem;">
                                <div class="card-header">
                                    {{!-- want to pull in data from users table --}}
                                    <h5>My Info</h5>
                                </div>
                                <div class="card-body text-info">
                                    <h5 class="card-title">My Organizations</h5>

                                    <ul>
                                        <li class="dropdown">
                                            <select value="">
{{#each data}}
<p>{{org}}</p>
{{/each}}
                                                <option name="" id="">Animal Shelter</option>
                                                <option name="" id="">Soup Kitchen</option>
                                                <option name="" id="">Library</option>
                                                <option name="" id="">Help Tucson</option>


                                            </select>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                        </div>

                    </div>
                    {{!-- </form> --}}
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <!--Table shows volunteer organizations and hours worked-->
                    <table id="tablePreview" class="table table-hover table-borderless z-depth-2">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>Volunteer Organizations</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            {{#each userData}}

                            <tr>
                                <td>{{org}}</td>
                                <td>{{hours}}</td>
                            </tr>

                            {{/each}}


                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
                {{!-- Modal: modalChart  --}}
            </div>

            </form>
        </div>
    </div>
</div>
</div>
</div>