<h1>Clock in and out button</h1>
<div id="wrapper">
    <div id="timer">00:00</div>
    <div id="buttons">
        <button id="start">Check In</button>
        <button id="stop">Check out</button>
    </div>
</div>